# PDF Parsing
# pypdf2
# pdfminer.six
unstructured[all-docs]

# Document Summarization
# transformers
# torch
# sentencepiece  # Required for T5/BART tokenization

# Keyword Extraction & Q&A
langchain
# lets use gemini, has bigger token size and free
# pip install -q -U google-genai
# pip install -U langchain-google-genai
langchain-google-genai
google-genai
#openai  # If using OpenAI models for LLM tasks
# faiss-cpu  # If using FAISS for vector search
# tiktoken  # For token counting (useful with OpenAI models)

# Audio Summaries
# koi open source alternative is better.
# elevenlabs

# others
python-dotenv
langchain-unstructured

#for searching and downloading papers
requests 
arxiv 
semanticscholar
